.*.swp
.*.mod.cmd
.deps
*.ko
*.ko.cmd
*.mod
*.mod.c
*.o
*.o.cmd
*.o.d
*~
Makefile
Makefile.in
modules.order
/Documentation/comedi/devices.txt
/Documentation/comedi/drivers.txt
/aclocal.m4
/autom4te.cache/
/comedi/.tmp_versions/
/comedi/Module.symvers
/comedi/comedi_kbuild.inc
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/include/linux/comedi-config.h
/include/linux/stamp-h2
/install-sh
/missing
/modtool
/stamp-h1
