Source: comedi
Priority: extra
Maintainer: David Schleef <ds@schleef.org>
Build-Depends: debhelper (>> 2.0.0)
Standards-Version: 3.5.6

Package: comedi-source
Section: admin
Architecture: all
Recommends: dpkg-dev, c-compiler, make
Suggests: kpkg-build, libcomedi0
Description: Comedi kernel module source
 Comedi (Control and Measurement Device Interface) is a collection
 of device drivers for data acquisition devices.  This includes
 most devices that have analog-to-digital (A/D) converters,
 digital-to-analog (D/A) converters, raw digital I/O, digital
 counters, and timers.  Well-known manufacturers include National
 Instruments, Data Translation, and Measurement Computing.  A list
 of supported devices can be found in /usr/share/doc/comedi-source/.
 These drivers are not included in the Linux kernel source, so if
 you want to use these devices with Debian, you should install this
 package and compile the modules.
 .
 The packages libcomedi0 and libcomedi-dev contain documentation
 about Comedi and Comedilib.
 .
 This package provides the source code for Comedi.  The kernel source
 is required to compile these modules.

