#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

#p_mod=comedi-modules-$(KVERS)
p_mod=comedi-modules
d_mod=debian/$(p_mod)

kdist_image:	checkroot
	$(RM) debian/files
	yes "" | ./configure --linuxdir $(KSRC) --non-interactive --reconf
	$(MAKE)
	$(RM) -rf $(d_mod)
	install -d $(d_mod) $(d_mod)/DEBIAN
	install -d "$(d_mod)/usr/share/doc/$(p_mod)"
	install debian/comedi-modules.postinst $(d_mod)/DEBIAN/postinst
	install debian/comedi-modules.prerm $(d_mod)/DEBIAN/prerm
	$(MAKE) INSTALL_MOD_PATH=`pwd`/$(d_mod) install
	install -m644 debian/changelog \
	  $(d_mod)/usr/share/doc/$(p_mod)/changelog.Debian
	gzip -9v $(d_mod)/usr/share/doc/$(p_mod)/*
	install -m644 debian/copyright \
	  $(d_mod)/usr/share/doc/$(p_mod)/copyright
	chown -R root.root $(d_mod)
	chmod -R g-ws $(d_mod)
	dpkg-gencontrol -p$(p_mod) -P$(d_mod) -isp
	dpkg-deb --build $(d_mod) $(KSRC)/..

kdist_changes:

kdist_configure:
	
kdist: kdist_image
	#$(RM) -r $(d_mod)

kdist_clean clean:
	$(MAKE) distclean
	$(RM) -r debian/tmp $(d_mod) debian/src debian/*~ \
	  debian/files debian/control.tmp debian/substvars

build:

clean-modules:
	-umask 022; $(MAKE) DEB_MOD=yes clean
	$(RM) build-modules

binary-source: checkroot
	$(RM) -r debian/src
	install -d debian/src debian/src/DEBIAN
	install debian/comedi-source.postinst debian/src/DEBIAN/postinst
	install debian/comedi-source.prerm    debian/src/DEBIAN/prerm
	install -d debian/src/usr/src/modules/comedi
	install -d debian/src/usr/share/doc/comedi-source

	find . \( -path ./debian/src -o -name 'tmp*' \) -prune -o -print | \
	  cpio -admp debian/src/usr/src/modules/comedi
	cd debian/src/usr/src/modules/comedi && \
	  $(MAKE) -f debian/rules clean
	chown -R root.src debian/src/usr/src
	find debian/src -type d | xargs chmod 775
	find debian/src -type f -perm -100 | xargs chmod 775
	find debian/src -type f -not -perm -100 | xargs chmod 664
	cd debian/src/usr/src && \
	  tar cf comedi.tar modules && \
	  $(RM) -r modules
	gzip -9 debian/src/usr/src/comedi.tar
	install -m 644 README \
	  debian/src/usr/share/doc/comedi-source/README
	install -m 644 debian/changelog \
	  debian/src/usr/share/doc/comedi-source/changelog.Debian
	gzip -9v debian/src/usr/share/doc/comedi-source/*
	install -m 644 debian/copyright \
	  debian/src/usr/share/doc/comedi-source/copyright
	
	chown -R root.root debian/src
	chmod -R g-ws debian/src
	dpkg-gencontrol -pcomedi-source -Pdebian/src -isp
	dpkg-deb --build debian/src ..

binary-arch:

binary-indep: binary-source

checkroot:
	test root = "`whoami`"

binary: binary-indep

.PHONY: build clean binary-indep binary-arch binary install configure
